[revo]
LocalDir=/home/vaneso
MirrorDirs={revo,tgz}
# RemoteServer=www.uni-leipzig.de
# RemoteDir=webdir/voko/revo
# UserID=ejs
MirrorDat=/home/vaneso/mirrordat/revo
LogDir=/home/vaneso/log
SrFile=/home/vaneso/etc/mirror_sr.cfg
TarFilePrefix=/home/vaneso/tmp/revo-
TarDelFile=/home/vaneso/tmp/bv_forigu_tiujn.lst
#Passwd=xxx
# Der Trenner zwischen Verzeichnissen
# ("/" auf Unix, "\" auf Windows)
slash=/
# CGI-BIN-Verzeichnis: Beim Uebertragen in dieses Verzeichnis oder
# dessen Unterverzeichnis werden die Dateirechte auf "Ausf�hrbar"
# gesetzt.
cgi-bin=/cgi-bin
# Dateien, die nicht ue�betragen werden sollen
# Extensions sind mit Komma und ohne Leerzeichen zu trennen
exclude=~,CVS
# Dateien in denen Textersetzungen vorzunehmen sind
# (definiert in sr.cfg)
#ReplaceIn=htm,html
ReplaceIn=

[cvs]
LocalDir=/home/vaneso/cvsroot/revo
# RemoteServer=www.uni-leipzig.de
# RemoteDir=webdir/voko/revo
# UserID=ejs
MirrorDat=/home/vaneso/mirrordat/cvs
LogDir=/home/vaneso/log
SrFile=/home/vaneso/etc/mirror_sr.cfg
TarFilePrefix=/home/vaneso/tmp/revocvs-
TarDelFile=/home/vaneso/tmp/bv_forigu_tiujn.lst
#Passwd=xxx
# Der Trenner zwischen Verzeichnissen
# ("/" auf Unix, "\" auf Windows)
slash=/
# CGI-BIN-Verzeichnis: Beim Uebertragen in dieses Verzeichnis oder
# dessen Unterverzeichnis werden die Dateirechte auf "Ausfhrbar"
# gesetzt.
cgi-bin=/cgi-bin
# Dateien, die nicht uebetragen werden sollen
# Extensions sind mit Komma und ohne Leerzeichen zu trennen
exclude=~
# Dateien in denen Textersetzungen vorzunehmen sind
# (definiert in sr.cfg)
#ReplaceIn=htm,html
ReplaceIn=


